<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAGeKr5cpyIxbUefVEIoarUCugi6BQOtu0</string>
	<key>GCM_SENDER_ID</key>
	<string>365600197046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>au.com.ait.shiftsmart</string>
	<key>PROJECT_ID</key>
	<string>shift-smart-a34cb</string>
	<key>STORAGE_BUCKET</key>
	<string>shift-smart-a34cb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:365600197046:ios:c88adab7c5d8ec78d0d917</string>
</dict>
</plist>